body{
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.body {
  background: linear-gradient(192deg, #155226, #185c3e, #16463f);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05rem;
}

.buttons {
  display: flex;
  justify-content: end;
}

.Conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Form {
  min-height: 400px;
  width: 300px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 80px;
  font-size: 35px;
}

.Email, .Password {
  height: 30px;
  width: 95%;
  border: none;
  border-bottom: 1px solid #d1d1d7;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  font-size: 13px;
  margin-bottom: 20px;
}

.SubmitBtn {
  margin-top: 15px;
  height: 38px;
  width: 65%;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  outline: none;
  border: none;
  border-radius: 12px;
  background: #01270f;
  color: #f1f1f1;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.SubmitBtn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #09ff00,
    #06c000,
    #059400,
    #036600,
    #059400,
    #06c000,
    #09ff00
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 12px;
}

.SubmitBtn:active {
  background: #01270f;
}

.SubmitBtn:active:after {
  background: transparent;
}

.SubmitBtn:hover:before {
  opacity: 1;
}

.SubmitBtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  background: #01270f;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
