.HeaderStepsConteiner {
  width: 1170px;
  margin: 0px 100px;
  position: relative;
}
.CssHeaderSteps {
  width: 280px;
  display: flex;
  margin: 0px auto 24px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
}
.CssHeaderStepsItem {
  width: 68px;
  display: block;
  position: relative;
  user-select: none;
  pointer-events: none;
  cursor: none;
}
.CssHeaderStepsItemCircle {
  top: 15px;
  position: absolute;
  border: 8px solid #d1d1d7;
  border-radius: 50%;
  padding: 8px 14px;
  color: #d1d1d7;
}
.CssHeaderItemCircleSmall {
  position: absolute;
  top: 15px;
  border: 8px solid #d1d1d7;
  border-radius: 50%;
  padding: 6px 12px;
  color: #d1d1d7;
}
.CssHeaderStepsLine {
  position: absolute;
  border: none;
  background: #d1d1d7;
  top: 41px;
  left: 48px;
  height: 1px;
  width: 60px;
}
.CssHeaderStepsTitle {
  position: absolute;
  top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d1d1d7;
  font-size: large;
}
.Subtitle {
  position: absolute;
  left: -15px;
  top: -20px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: large;
}
.Final_Title {
  position: absolute;
  top: -15px;
  left: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1d1d7;
  font-size: large;
}
.w100 {
  margin-top: 10rem;
  color: #d1d1d7;
  opacity: 0.55;
}
.SelectionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c7c7d;
  margin-top: 32px;
}
.Container {
  width: 100%;
}
.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Form_Row {
  margin: 0.5rem 0rem;
}
.Form_Row_Radio {
  display: flex;
  position: relative;
  justify-content: center;
  height: 1rem;
  top: 3rem;
  margin: 1rem 0rem;
  font-size: smaller;
}
.SelectRadio{
  cursor: pointer;
}
.SubtitleH3 {
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
  margin-right: 13rem;
}
.TextVehicle{
  color: #0d0d0d;
  font-size: 25px;
}
.Form_Row_Year {
  display: flex;
  float: left;
  position: relative;
  top: 0rem;
  left: 1.7rem;
  margin: 1rem 0rem;
}
.FormField_FormFieldSelect {
  width: 30rem;
  position: relative;
  top: 0px;
}
.FormField_FormField_Select {
  display: flex;
  width: calc(50% - 17px);
  float: left;
  position: relative;
  align-items: center;
}
.FormFieldLabel {
  font-size: small;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Select {
  width: 100%;
  height: 2rem;
  font-size: 1.05rem;
  margin-top: 0.5rem;
  border: none;
  border-bottom: 1px solid #c5c6d0;
  color: #4d4c59;
  background: transparent;
}
select{
  cursor: pointer;
}
.MoreInfo {
  display: flex;
  margin-right: 11rem;
  color: #0d0d0d;
}
.Subcontainer {
  width: 360px;
}
.Row {
  float: left;
  padding: 8px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Input {
  width: 100%;
  height: 2rem;
  font-size: 1.05rem;
  margin-top: 0.5rem;
  border: none;
  border-bottom: 1px solid #c5c6d0;
  color: #4d4c59;
  background: transparent;
}
.Fuel{
  padding: 6px;
}
.InputFuel {
  width: 27.7rem;
  height: 2rem;
  font-size: 1.05rem;
  margin-top: 0.5rem;
  border: none;
  border-bottom: 1px solid #c5c6d0;
  color: #4d4c59;
  background: transparent;
}

input:hover, .Select:hover, input:focus, .Select:focus{
  border-color: #42f7a8;
}