body{
    margin: 0;
    padding: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    background: #e7e7e7;
  }
  body::-webkit-scrollbar{
    width: 3px;
  }
  body::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #00652e;
  }
  body::-webkit-scrollbar-track{
    background: linear-gradient(180deg, #00652ee1 5%, #fff);
  }
  code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  li{
    list-style: none;
  }