.container{
    display: flex;
    background-color: #e7e7e7;
}
.filtro{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background:#00652d59;
    min-height: 100vh;
    height: auto;
}
.container__conteudo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 15px;
    gap: 15px;
    width: 100%;
    height: 100vh;
    margin-top: 60px;
}