.container {
  font-size: 14px;
  font-weight: 600;
  width: 10rem;
  box-sizing: border-box;
  height: auto;
  margin: 0 .5rem;
}
label{
  cursor: pointer;
}
.checkbox{
  cursor: pointer;
}
// @media (max-width: 425px) {
//   .container{
//     font-size: 10px;
//     font-weight: 600;
//     width: 8rem;
//     box-sizing: border-box;
//     height: auto;
//     margin: 0 .5rem;
//   }
// }