body {
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.05rem;
  min-height: 200vh;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #66666666;
}

body::-webkit-scrollbar-thumb {
  background: #272727a8;
  border-radius: 15px;
}
.header {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(192deg, #155226, #185c3e, #16463f);
}
.HeaderContents {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 40px;
  margin: 5px 15px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.logo:hover,
.loupe:hover,
.ShoppingBag:hover {
  opacity: 1;
}
.loupe {
  width: 14px;
  height: 14px;
  opacity: 0.7;
  cursor: pointer;
}
.ShoppingBag {
  width: 22px;
  height: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.HeaderButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button {
  cursor: pointer;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
  opacity: 0.75;
  font-weight: bold;
  font-size: 10px;
  height: 30px;
  width: auto;
  letter-spacing: 0.05rem;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  opacity: 1;
}
.button:active,
.loupe:active,
.ShoppingBag:active {
  opacity: 0.4;
}
.main {
  padding-bottom: 2.5rem;
  font-size: 16px;
  height: 15rem;
}
.Logout {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  cursor: pointer;
  margin-left: 23px;
}
