body {
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.05rem;
  min-height: 200vh;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #66666666;
}

body::-webkit-scrollbar-thumb {
  background: #272727a8;
  border-radius: 15px;
}

.HeaderContents {
  background: linear-gradient(192deg, #155226, #185c3e, #16463f);
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid;
}
.HeaderButtons {
  display: flex;
  align-items: center;
}
.HeaderSeparator {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}
.HeaderTopic {
  padding: 15px 10px;
}
@media (max-width: 768px) {
  .HeaderButtons {
    display: none;
    padding-right: 15px;
    flex-flow: column nowrap;
    background-color: #185c3e;
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    width: 300px;
    padding-top: 3.5rem;
  }
  .HeaderTopic {
    padding-right: 7rem;
  }
}
.logo {
  height: 40px;
  margin: 5px 15px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.loupe {
  width: 14px;
  height: 14px;
  opacity: 0.7;
  cursor: pointer;
}
.ShoppingBag {
  width: 22px;
  height: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.Logout {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  cursor: pointer;
}
.button {
  cursor: pointer;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
  opacity: 0.75;
  font-weight: bold;
  font-size: 10px;
  height: 30px;
  width: auto;
  letter-spacing: 0.05rem;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.button:hover,
.logo:hover,
.loupe:hover,
.ShoppingBag:hover,
.Logout:hover {
  opacity: 1;
}
.button:active,
.loupe:active,
.ShoppingBag:active,
.Logout:active {
  opacity: 0.4;
}
.main {
  padding-bottom: 2.5rem;
  font-size: 16px;
  height: 15rem;
}
