.container {
  display: flex;
  flex-flow: column;
  grid-gap: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 110vh;
  width: 99vw;
  background: #f1f1f1;
}
.form__container {
  background: #cfcfcf;
  width: 64rem;
  height: 32rem;
  border-radius: 20px;
}
.form__title__field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.form__title {
  padding: 15px;
}
.form {
  display: flex;
  gap: 10px;
}
.col{
  width: 13rem;
}
.form__control{
  width: 100%;
}
.form__media, .form__media__textarea {
  display: flex;
  gap: 10px;
}
.buttons__field {
  padding-top: 15px;
  gap: 10px;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    width: 100vw;
    height: 200vh;
    justify-content: center;
    align-items: center;
  }
  .form__container {
    background: #cfcfcf;
    width: 90%;
    height: 77rem;
    border-radius: 20px;
  }
  .form__field {
    width: 90%;
  }
  .form {
    display: flex;
    flex-flow: column;
    grid-gap: 10px;
    gap: 10px;
    justify-content: end;
  }
  .form__media {
    width: 100%;
  }
  .field__input{
    width: 50%;
  }
  .form__control {
    width: 50% ;
  }
  .form__control__size{
    width: 100% !important;
  }
}
