.container__card {
  width: 300px;
  height: 400px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #fff 30%, #00652e70);
  box-shadow: 5px 5px 15px rgb(0 0 0 / 40%);
  border-radius: 10px;
  transition: all ease-in-out 775ms;
  cursor: pointer;
  &:hover{
    transform:translateY(-6px);
    box-shadow: 5px 5px 15px rgb(0 0 0 / 75%);
  }
}
.card__header {
  display: flex;
  justify-content: center;
}
.card__header img {
  border-radius: 10px;
  padding: 5px;
  height: 250px;
  width: 250px;
}
.card__footer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 5px 0 0 0;
}
h3 {
  font-weight: 500;
}