.header__container{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100vw;
    height: 75px;
    background: linear-gradient(65deg, #00652e 35%, #00652ee1);
    align-items: center;
    color: #fff;
    flex-flow: row nowrap;
}
.header__container .logo__container, .link{
    display: flex;
    font-size: 20px;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
}
.link:hover{
  color: #fff;
}
.header__container img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 0.5;
    }
}
.header__container .header__container__icons{
    display: flex;
}