body {
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.05rem;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #66666666;
}

body::-webkit-scrollbar-thumb {
  background: #272727a8;
  border-radius: 15px;
}

.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(192deg, #155226, #185c3e, #16463f);
}

.logo {
  height: 40px;
  margin: 5px 15px;
  cursor: pointer;
}

.buttons {
  display: flex;
  margin-right: 20px;
}

.button1,
.button2 {
  cursor: pointer;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  height: 30px;
  width: auto;
  letter-spacing: 0.05rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button1:hover,
.button2:hover {
  border-radius: 50px;
  background: #ffffff39;
  height: 30px;
  width: auto;
}

.button1:active,
.button2:active {
  opacity: 0.4;
}

.main {
  padding-bottom: 2.5rem;
  font-size: 16px;
  height: 15rem;
}

.car-name{
  font-size: 12px;
}

.car-details{
  font-size: 11px;
}

.payment-row{
  font-size: 15px;
  font-weight: 800;
}